<tr>
  <td>{{ item.cardNumber }}</td>
  <td>{{ item.setName }}</td>
  <td>{{ item.cardName }}</td>
  <td>{{ item.cardType }}</td>
  <td>{{ item.manaValue }}</td>

  <td (dblclick)="enablePriceEdit()">
    @if (editingPrice()) {
      <input type="number"
             [value]="draftPrice() ?? ''"
             (input)="draftPrice.set($any($event.target).valueAsNumber)"
             (keyup.escape)="cancelPrice()" />
    } @else {
      {{ item.price }}
    }
  </td>

  <td (dblclick)="enableStockEdit()">
    @if (editingStock()) {
      <input type="number"
             [value]="draftStock() ?? ''"
             (input)="draftStock.set($any($event.target).valueAsNumber)"
             (keyup.escape)="cancelStock()" />
    } @else {
      {{ item.stock }}
    }
  </td>
</tr>
